section {
  background-color: pink;

padding-bottom: 10rem;
}
section {
  color: lightblue;
}

.colorWhite {
  color: white;
}

.sinTaustavari {
  background-color: rgb(7, 177, 245);
}



